# Every change in these paths requires review from owners

# All Dart workspace (apps + packages)
apps/**     @RamanGodun @RomanGodun
packages/** @RamanGodun @RomanGodun

# Repo-level infra
.github/**  @RamanGodun @RomanGodun
melos.yaml  @RamanGodun @RomanGodun
pubspec.yaml @RamanGodun @RomanGodun
